.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.header {
  background-color: #003a86;
  min-height: 7vh;
  display: flex;
}

.header-logo {
  flex-grow: 5;
}

.header-logo img {
  height: 5vh;
  width: 5vh;
  padding: 0.4em;
  padding-left: 0.8em;
}

.header-text{
  flex-grow: 5;
  text-align: right;
  padding: 0.8em;
}

.text-center{
  text-align: center !important;
}

.invalid-input {
  color: rgb(247, 45, 45);
}

.data-container {
  display: flex;
}

.list-container {
  flex: 2;
  /* background-color: rgb(73, 77, 77); */
  padding: 4vh;
}

.preview-container {
  flex: 5;
  padding: 1vh 2vh 2vh 4vh;
  margin-top: 2vh;
  letter-spacing: 0.1vh;
  border-left: 2px solid #354466;
  margin-top: 5vh;
}

.preview-container h6 {
  margin: 0;
}

.pt-4 {
  padding-top: 4vh;
}

.pt-3 {
  padding-top: 3vh;
}

.pt-2 {
  padding-top: 2vh;
}

.pt-1 {
  padding-top: 1vh;
}

.mt-2 {
  margin-top: 2vh;
}

.title-color-1 {
  color: #67ccff;
}

.weather-list-form {
  /* padding: 2vh 5vh 0 5vh; */
}

.pr-1 {
  padding-right: 2vh;
}

.pt-2 {
  padding-top: 2vh;
}

.custom-txt {
  font-size: 0.7em;
  padding: 0.4vh 0 0 0;
  font-style: italic;
  margin: 0;
}

button:active {
  transform: translateY(1px);
}

.text-bold {
  font-weight: bold;
}

.weather-data-preview {
  width: 100%;
}

.weather-data-preview tr td:last-child {
  padding-left: 0.5em;
}

.info-container {
  text-align: center;
  padding-top: 0.5em;
  color: rgb(160, 212, 255);
}

.info-container p {
  font-size: 0.8em;
  padding: 0em 8em 1em 8em;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: #7bd3ff;
}

.error-message {
  font-size: 0.6em;
  color: red;
}

.fade-effect {
  animation: fade 0.3s ease-in-out both;
}

.fadeup-effect {
  animation: slideUp .3s ease-in-out both;
  opacity: 0;
}

::-webkit-scrollbar {
  width: .4rem;
}

::-webkit-scrollbar-track {
  background: #222529;
}

::-webkit-scrollbar-thumb {
  background: #3a4e7c;
}

.d-sub-title {
  display: flex;
}

.d-sub-title h6 {
  margin: 0;
}

.d-sub-title span {
  margin-right: 2em;
}

.weather-list-item {
  padding: 0.1em 0em 0.4em 1em;
  background: rgb(0, 88, 165);
  border-radius: 0.2em;
  margin: 0.5em;
  color: aliceblue;
}

.weather-list-item:hover {
  background-color: #0a3977;
  cursor: pointer;
}

.weather-list-item h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.weather-list-item h6 {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
} 

.weather-list-item p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  font-size: 0.7em;
  font-weight: 600;
}

.detailed-weather-data h3 {
  margin: 0;
}

.detailed-weather-data p {
  font-size: 0.7em;
  font-weight: 600;
}

.today-weather h5 {
  margin-top: 2em;
  margin-bottom: 0.8em;
}

.today-weather table th {
  font-size: 0.7em;
  padding: 0.8em;
  background-color: #1d3453;
}

.today-weather table th:hover {
  background-color: #0d2b50;
  cursor: pointer;
}

.today-weather table td {
  font-size: 0.65em;
  padding: 0.8em;
  background-color: #212d3a;
}

.today-weather table td:hover {
  background-color: #192330;
  cursor: pointer;
}

.next-days-weather h5 {
  margin-top: 2em;
  margin-bottom: 0.8em;
}

.next-days-weather table {
  text-align: left;
}

.next-days-weather table th {
  font-size: 0.62em;
  padding: 0.8em;
  background-color: #1d3453;
}

.next-days-weather table th:hover {
  background-color: #0d2b50;
  cursor: pointer;
}

.next-days-weather table td {
  font-size: 0.65em;
  padding: 0.8em;
  background-color: #212d3a;
}

.next-days-weather table td:hover {
  background-color: #192330;
  cursor: pointer;
}

.active-item {
  background-color: #002c66;
}

.active-item:hover {
  background-color: #00275a;
}

@keyframes slideUp {
  0% {
      transform: translate3d(0, 5px, 0);
  }

  100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
